<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> oneM2M Web Testing </title>
    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100%;
            max-height: 100%;
            font-family: Sans-serif;
            line-height: 1.5em;
        }

        #header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
            background: #BCCE98;
        }

        #nav {
            position: absolute;
            top: 100px;
            left: 0;
            bottom: 0;
            width: 230px;
            overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
            background: #DAE9BC;
        }

        #logo {
            padding: 10px;
        }

        main {
            position: fixed;
            top: 100px; /* Set this to the height of the header */
            left: 230px;
            right: 0;
            bottom: 0;
            overflow: auto;
            background: #fff;
        }

        #testingFormat {
            position: absolute;
            top: 10px; /* Set this to the height of the header */
            left: 10px;
            height: 600px;
            width: 400px;
        }

        #responseFormat {
            position: absolute;
            top: 30px; /* Set this to the height of the header */
            left: 700px;
            height: 600px;
            width: 400px;
        }

        #urlInfo {
            position: relative;
            top: 20px;
            left: 20px;
            background: #fca;
            height: 50px;
            width: 635px;
        }

        #headerInfo {
            position: relative;
            top: 40px;
            left: 20px;
            background: #faf;
            width: 635px;
            height: 200px;

        }

        #bodyInfo {
            position: relative;
            top: 40px;
            left: 20px;
            margin-top: 20px;
            height: 380px;
            width: 635px;
        }

        .innertube {
            margin: 15px; /* Provides padding for the content */
        }

        p {
            color: #555;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul a {
            color: darkgreen;
            text-decoration: none;
        }

        /*IE6 fix*/
        * html body {
            padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
        }

        * html main {
            height: 100%;
            width: 100%;
        }
    </style>

    <!-- jQuery Framework 참조하기 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {

            $('#request').click(function () {

                var urlInformation = $('#setURL').val(); // Getting the url information
                var methodInformation = $('#methodList :selected').text(); // Getting the method information
                var bodyInformation = $("#bodyText").val(); // Gettring the body information

                var headerNameList = $('.headerName'); // Getting the header name list
                var headerNameLength = $('.headerName').length; // header length

                var headerValueList = $('.headerValue');

                $.ajax({
                    beforeSend: function (req) {
                        for (var i = 0; i < headerNameLength; i++) {
                            req.setRequestHeader(headerNameList[i], headerValueList[i]);
                        }
                    },
                    url: "http://203.253.128.151:7579/mobius-yt",
                    type: "GET",
                    cache: false,
                    timeout: 30000,
                    success: function (data) {
                        $('#bodyText2').val(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus + ': ' + xhr + '/' + 'Please try again!!');
                    }
                });
            });

            // Adding a header
            $('#addHeader').click(function () {

                var headerElement = $("<div>").append("<span>");

                var inputElement = $("<div>");

                var headerNameInput = $('<input>');
                headerNameInput.attr({
                    "type" : "text",
                    "class" : "headerName"
                });

                var headerValueInput = $('<input>');
                headerValueInput.attr({
                    "type" : "text",
                    "class" : "headerValue"
                });

                var headerDelButton = $('<input>');
                headerDelButton.attr({
                    "type" : "button",
                    "value" : "Delete",
                    "class" : "deleteHeaderFormat"
                });

                inputElement.append(headerNameInput).append(headerValueInput).append(headerDelButton);

                var headerListRoot = $('#headerElement');
                headerListRoot.append(inputElement);
            });

            // Creating a resource with RandomValue;
            $('#createResource').click(function() {

                var resourceTitle = prompt('리소스의 이름을 입력하세요', '예) AE 리소스 생성');
                var resourceName = Math.floor(Math.random() * 10000000); // randomValue for create resource name
                var params = "resourceName=" + resourceName + "&" + "resourceTitle=" + resourceTitle;

                $.ajax({
                    url: "http://127.0.0.1:62590/createResource",
                    type: "post",
                    dataType: "text",
                    cache: false,
                    timeout: 30000,
                    data : params,
                    success: function (data) {

                        // Creating a resource list with resourceName
                        var resourceListRoot = $('#resourceListRoot');

                        // Constructing the resource list
                        var resourceElement = $("<div>");
                        resourceElement.attr({'id': resourceName});
                        resourceElement.addClass("resourceListEvent");
                        resourceElement.html(resourceTitle);

                        resourceListRoot.append(resourceElement); // Adding the element to root */
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus + ' : ' + xhr);
                    }
                });
            });

            // Assembling the element for constructing the resource
            var jsonArray = JSON.parse(JSON.stringify(<%-resourceConfig%>))['resourceInfo'];

            var resourceListRoot = $('#resourceListRoot');

            for(var i = 0; i < jsonArray.length; i++) {
                // Constructing the resource list
                var resourceElement = $("<div>");
                resourceElement.attr({'id': jsonArray[i].resourceName});
                resourceElement.addClass("resourceListEvent");
                resourceElement.html(jsonArray[i].resourceTitle);

                resourceListRoot.append(resourceElement);
            }

            $('#deleteResource').click(function() {

                var check = confirm("Do you delete the selected resource?");

                if(check == true) {
                    var params = "resourceName=" + idValue;

                    $.ajax({
                        url: "http://127.0.0.1:62590/deleteResource",
                        type: "delete",
                        dataType: "json",
                        cache: false,
                        timeout: 30000,
                        data : params,
                        contentType: "application/json; charset=UTF-8",
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus + ' : ' + xhr);
                        }
                    });
                } else {
                    // code blank...
                }
            });

            // Getting the saved data such as header and body information.
            $(document).on("click", '.resourceListEvent', function () {

                // Changing the resource list color.
                $('.resourceListEvent').css("background", "#DAE9BC");
                $(this).css('background', "#a7dbd8")

                /* Using a global variable */
                // This is a global variable for deleting the resource.
                window.idValue = $(this).attr('id');
            });
        });

    </script>
</head>

<body>
    <header id="header">
        <div id="logo">
            <h1> oneM2M Web Testing </h1>
        </div>
    </header>

    <main>
        <span id="testingFormat">
        <div id="urlInfo">
            <span id="methodSelection">
                <select id="methodList">
                    <option value="GET"> GET</option>
                    <option value="POST"> POST</option>
                    <option value="PUT"> PUT</option>
                    <option value="DELETE"> DELETE</option>
                </select>
            </span>
      
            <span id="url">
                <input type="text" id="setURL"/>
            </span>
      
            <span>
                <input type="Button" value="Send" id="request"/>
            </span>
        </div>

        <div id="headerInfo">
            <div id="headerControl">
                <span>
                    <input type="Button" value="Add Header" id="addHeader"/>
                </span>
            </div>

            <div id="headerList">
                <div id="headerElement"> </div>
            </div>
        </div>

        <div id="bodyInfo">
            <textarea id="bodyText" rows="30" cols="87" style="resize:none"> </textarea>
        </div>

        </span>

        <span id="responseFormat">
            <div id="bodyInfo2">
                <textarea id="bodyText2" rows="30" cols="87" style="resize:none"> </textarea>
            </div>
        </span>
    </main>

    <nav id="nav">
        <div class="innertube">
            <h1> Resource List </h1>
            <span>
                <input type="button" value="+ Resource" id="createResource"/>
                <input type="button" value="- Resource" id="deleteResource"/>
            </span>
        </div>
        <div id = "resourceListRoot" class="innertube"> </div>
    </nav>
    </body>
</html>