<!--
* Created by HwangJaeYoung
* forest62590@gmail.com
-->

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> oneM2M Web Testing </title>

    <link rel="stylesheet" href="main.css">

    <!--[if lt IE 9]>
    <script src="html5shiv.js"></script>
    <![endif]-->

    <!-- Setting the JQuery & JQuery-UI -->
    <script src="jquery-3.0.0.min.js"></script>
    <script src="jquery-ui-1.12.0/jquery-ui.js"></script>

    <!-- Setting the code mirror library for the textarea -->
    <link rel="stylesheet" href="codemirror/codemirror-5.15.2/lib/codemirror.css">
    <link rel="stylesheet" href="codemirror/codemirror-5.15.2/theme/blackboard.css">
    <script src="codemirror/codemirror-5.15.2/lib/codemirror.js"></script>
    <script src="codemirror/codemirror-5.15.2/mode/xml/xml.js"></script>
    <script src="codemirror/codemirror-5.15.2/mode/javascript/javascript.js"></script>
    <script src="codemirror/codemirror-5.15.2/addon/selection/active-line.js"></script>

    <!-- Setting the json / xml pretty library -->
    <script src="vkbeautify.js"></script>

    <script type="text/javascript">
        /************** Defining the global variable **************/
        window.idValue = 0;
        window.headerCount = 0;

        $(function () {

            // Request to specific server
            $('#request').click(function() {
                if (idValue != 0) {

                    // Collecting the information to send a data to server
                    var urlInformation = $('#setURL').val(); // Getting the url information
                    var methodInformation = $('#methodList :selected').text(); // Getting the method information
                    var bodyInformation = editor.getValue(); // Getting the body information
                    var headerNameList = $('.headerName'); // Getting the header name list
                    var headerValueList = $('.headerValue'); // Getting the header value list

                    // Formatting the JSON Object
                    var jsonObject = new Object();
                    var jsonArray = new Array();

                    jsonObject.requestInfo = new Object();
                    jsonObject.requestInfo.resourceName = idValue;
                    jsonObject.requestInfo.urlInformation = urlInformation;
                    jsonObject.requestInfo.methodInformation = methodInformation;
                    jsonObject.requestInfo.bodyInformation = bodyInformation;

                    // Creating the JSONArray to save the request information
                    for (var i = 0; i < headerNameList.length; i++) {
                        var headerName = headerNameList[i].value;
                        var headerValue = headerValueList[i].value;
                        var tempObject = new Object();
                        tempObject.headerName = headerName;
                        tempObject.headerValue = headerValue;
                        jsonArray.push(tempObject);
                    }
                    jsonObject.requestInfo.headerInformation = jsonArray;

                    $.ajax({
                        url: "http://127.0.0.1:62590/requestManage",
                        type: "post",
                        dataType: "json",
                        cache: false,
                        timeout: 30000,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json",

                        success: function (responseData) {
                            var headerInfo = requestResultFunction(responseData);
                            $('#statusResult').css("color", "#eaeaea").html("Status : " + responseData['status']);
                            $('#headerTextResult').val(headerInfo);
                        }, error: function (xhr, textStatus, errorThrown) {
                            var errorInfoObject = JSON.parse(xhr.responseText);

                            if(errorInfoObject['status'] == "601") {
                                alert("Could not get any response");
                            } else {
                                var headerInfo = requestResultFunction(errorInfoObject);
                                var statusCode = $('#statusResult');

                                statusCode.html("Status : " + errorInfoObject['status']);
                                statusCode.css("color", "#eaeaea");

                                $('#headerTextResult').val(headerInfo);
                            }
                        }
                    });
                } else {
                    alert("You are not selecting the specific resource list!!");
                }
            });

            // Saving the all request information
            $('#saveButton').click(function () {

                if (idValue != 0) {
                    var urlInformation = $('#setURL').val(); // Getting the url information
                    var methodInformation = $('#methodList :selected').text(); // Getting the method information
                    var bodyInformation = editor.getValue(); // Getting the body information
                    var headerNameList = $('.headerName'); // Getting the header name list
                    var headerValueList = $('.headerValue'); // Getting the header value list

                    // Formatting the JSON Object
                    var jsonObject = new Object();
                    var jsonArray = new Array();

                    jsonObject.requestInfo = new Object();
                    jsonObject.requestInfo.resourceName = idValue;
                    jsonObject.requestInfo.urlInformation = urlInformation;
                    jsonObject.requestInfo.methodInformation = methodInformation;
                    jsonObject.requestInfo.bodyInformation = bodyInformation;

                    // Creating the JSONArray to save the request information

                    for (var i = 0; i < headerNameList.length; i++) {
                        var headerName = headerNameList[i].value;
                        var headerValue = headerValueList[i].value;
                        var tempObject = new Object();
                        tempObject.headerName = headerName;
                        tempObject.headerValue = headerValue;
                        jsonArray.push(tempObject);
                    }
                    jsonObject.requestInfo.headerInformation = jsonArray;

                    $.ajax({
                        url: "http://127.0.0.1:62590/saveResource",
                        type: "post",
                        dataType: "text",
                        cache: false,
                        timeout: 30000,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json",
                        success: function (data) {
                            alert("Success updating the resource");
                        }, error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus + ' : ' + errorThrown);
                        }
                    });
                } else {
                    alert("You are not selecting the specific resource list!!");
                }
            });

            // Adding a header (Maximum 8)
            $('#addHeader').click(function () {

                if (headerCount < 8) {
                    var headerElement = $("<div>").append("<span>");
                    var headerNameInput = $('<input>');
                    headerNameInput.attr({
                        "type": "text",
                        "class": "headerName"
                    });
                    var headerValueInput = $('<input>');
                    headerValueInput.attr({
                        "type": "text",
                        "class": "headerValue"
                    });
                    var headerDelButton = $('<input>');
                    headerDelButton.attr({
                        "type": "button",
                        "value": "Delete",
                        "class": "deleteHeaderFormat"
                    });
                    headerElement.append(headerNameInput).append(headerValueInput).append(headerDelButton);
                    var headerListRoot = $('#headerElement');
                    headerListRoot.append(headerElement);
                    headerCount++;
                } else if (headerCount == 8) {
                    alert("You do not create the header more than 9");
                }
            });

            // Creating a resource with RandomValue;
            $('#createResource').click(function () {
                var resourceTitle = prompt(' Enter the resource name', 'ex) AE_Resource_Create');

                if (resourceTitle) {
                    var resourceName = Math.floor(Math.random() * 10000000); // randomValue for create resource name
                    var params = "resourceName=" + resourceName + "&" + "resourceTitle=" + resourceTitle;

                    $.ajax({
                        url: "http://127.0.0.1:62590/createResource",
                        type: "post",
                        dataType: "text",
                        cache: false,
                        timeout: 30000,
                        data: params,

                        success: function (data) {
                            // Creating a resource list with resourceName
                            var resourceListRoot = $('#resourceListRoot');

                            // Constructing the resource list
                            var resourceElement = $("<li>");

                            resourceElement.css("color", "#eaeaea");

                            resourceElement.attr({'id': resourceName});
                            resourceElement.addClass("ui-state-default");
                            resourceElement.addClass("resourceListEvent");
                            resourceElement.html(resourceTitle);
                            resourceListRoot.append(resourceElement); // Adding the element to root */
                        }, error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus + ' : ' + errorThrown);
                        }
                    });
                }
            });

            $('#deleteResource').click(function () {

                if (idValue != 0) {
                    var check = confirm("Do you delete the selected resource?");

                    if (check == true && idValue != 0) {
                        $.ajax({
                            url: "http://127.0.0.1:62590/deleteResource/" + idValue,
                            type: "delete",
                            dataType: "json",
                            cache: false,
                            timeout: 30000,
                            contentType: "application/json; charset=UTF-8",
                            success: function (jsonObject) {
                                idValue = 0;
                                $('.resourceListEvent').remove(); // Deleting the all resource of the resourceListRoot Element
                                var jsonArray = jsonObject['resourceInfo'];
                                createFunction(jsonArray);
                            }, error: function (xhr, textStatus, errorThrown) {
                                alert(textStatus + ' : ' + errorThrown);
                            }
                        });
                    } else {
                        // code blank...
                    }
                } else {
                    alert("You are not selecting the specific resource list!!");
                }
            });

            // Getting the saved data such as header and body information.
            $(document).on("click", '.resourceListEvent', function () {

                // Changing the resource list color.
                $('.resourceListEvent').css("background", "#DAE9BC");
                $(this).css('background', "#a7dbd8")

                // Initializing the format
                $("#statusResult").html(''); // status response result
                $("#headerTextResult").val(''); // header response result
                editor.setValue(''); // body response result

                /* Using a global variable */
                idValue = $(this).attr('id'); // This is a global variable for deleting the resource.

                $.ajax({
                    url: "http://127.0.0.1:62590/getSelectedResource/" + idValue,
                    type: "get",
                    dataType: "json",
                    cache: false,
                    timeout: 30000,

                    success: function (jsonObject) {

                        $('#headerElement').empty(); headerCount = 0; // Initialize the header format

                        // Retrieving the selected variable value such as url, method, header, body
                        var resultObject = jsonObject['requestInfo'];
                        var urlInformation = resultObject['urlInformation'];
                        var methodInformation = resultObject['methodInformation'];
                        var bodyInformation = resultObject['bodyInformation'];
                        var headerInformation = resultObject['headerInformation'];

                        for(var i = 0; i < headerInformation.length; i++) {

                            if(headerInformation[i] != null) {
                                var headerSplitArray = headerInformation[i].split(":");
                                var headerName = headerSplitArray[0];
                                var headerValue = headerSplitArray[1];
                                var headerElement = $("<div>").append("<span>");
                                var headerNameInput = $('<input>');

                                headerNameInput.attr({
                                    "type": "text",
                                    "class": "headerName"
                                }).val(headerName);

                                var headerValueInput = $('<input>');
                                headerValueInput.attr({
                                    "type": "text",
                                    "class": "headerValue"
                                }).val(headerValue);

                                var headerDelButton = $('<input>');
                                headerDelButton.attr({
                                    "type": "button",
                                    "value": "Delete",
                                    "class": "deleteHeaderFormat"
                                });

                                headerElement.append(headerNameInput).append(headerValueInput).append(headerDelButton);
                                var headerListRoot = $('#headerElement');
                                headerListRoot.append(headerElement);
                                headerCount++;
                            }
                        }

                        // Formatting the request layout
                        if(methodInformation == null)
                            $('#methodList').val("GET");
                        else
                            $('#methodList').val(methodInformation);
                        $('#setURL').val(urlInformation);
                        editor.setValue(bodyInformation);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus + ' : ' + errorThrown);
                    }
                });
            });

            // Deleteing the saved header list
            $(document).on("click", '.deleteHeaderFormat', function () {
                headerCount--;
                $(this).parent().remove();
            });

            // Assembling the element for constructing the resource
            var jsonArray = JSON.parse(JSON.stringify(<%-resourceConfig%>))['resourceInfo'];
            createFunction(jsonArray);

            /************* Common function definition *************/
            function createFunction(jsonArray) {
                var resourceListRoot = $('#resourceListRoot');
                for (var i = 0; i < jsonArray.length; i++) {
                    // Constructing the resource list
                    var resourceElement = $("<li>");
                    resourceElement.attr({'id': jsonArray[i].resourceName});
                    resourceElement.css("background", "#3f3f3f");
                    resourceElement.addClass("ui-state-default");
                    resourceElement.addClass("resourceListEvent");
                    resourceElement.html(jsonArray[i].resourceTitle);
                    resourceListRoot.append(resourceElement);
                }
            }

            function requestResultFunction(responseObject) {
                var headers = responseObject['headers'];
                var headerInfo = '';

                for(headerName in headers) {
                    var headerValue = headers[headerName];
                    headerInfo += (headerName + " : " + headerValue + '\n');

                    if(headerName.toUpperCase() == "ACCEPT") {
                        if(headers[headerName].toUpperCase() == "APPLICATION/XML") {
                            resultEditor.setOption("mode", "application/xml");
                            resultEditor.setValue(vkbeautify.xml(responseObject['body']));
                        } else if(headers[headerName].toUpperCase() == "APPLICATION/JSON") {
                            resultEditor.setOption("mode", "application/ld+json");
                            resultEditor.setValue(vkbeautify.json(responseObject['body']));
                        } else {
                            resultEditor.setOption("mode", "javascript");
                            resultEditor.setValue(responseObject['body']);
                        }
                    }
                }
                return headerInfo;
            }

            /* 1. Editor view mode definition such as XML, JSON, Javascript
             2. code mirror library is used in this code */
            var editorTextArea = document.getElementById('bodyText');
            var editor = CodeMirror.fromTextArea(editorTextArea, {
                lineNumbers: true,
                lineWrapping: true,
                mode : "javascript",
                theme:"blackboard",
                styleActiveLine: true,
            });
            editor.setSize("635", "460");

            var resultTextArea = document.getElementById('bodyTextResult');
            var resultEditor =  CodeMirror.fromTextArea(resultTextArea, {
                lineNumbers: true,
                lineWrapping: true,
                mode : "javascript",
                theme:"blackboard",
                readOnly: true,
                styleActiveLine: true,
            });
            resultEditor.setSize("632", "460");

            // Changing the view mode
            $("#modeList").change(function () {
                var modeInfo = $('#modeList :selected').text(); // Getting the mode(Javascript, XML, JSON) information
                var changedMode = ''; // selected view mode (Javascript, XML, JSON)
                if(modeInfo == "Javascript") {
                    changedMode = 'javascript';
                } else if(modeInfo == "XML") {
                    changedMode = "application/xml";
                } else if(modeInfo == "JSON") {
                    changedMode = "application/ld+json";
                }
                editor.setOption("mode", changedMode);
            });

            $("#resourceListRoot").sortable({
                axis: "y",
                stop: function(event, ui) {
                    var jsonObject = new Object();
                    var idList = new Array();

                    $('#resourceListRoot').find('li').each(function( ) {
                        idList.push($(this).attr("id"));
                    });

                    jsonObject.idList = idList;

                    $.ajax({
                        url: "http://127.0.0.1:62590/updatingResourceList",
                        type: "put",
                        dataType: "text",
                        cache: false,
                        timeout: 30000,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json",

                        success: function (data) {
                            alert("Success updating the resource");

                        }, error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus + ' : ' + errorThrown);
                        }
                    });
                }
            });

            $("#resourceListRoot").disableSelection();
        });
    </script>
</head>

<body>
<header id="header">
    <div id="logo">
        <h1> oneM2M Web Testing </h1>
    </div>
</header>

<main>
        <span id="testingFormat">
        <div id="urlInfo">

            <span id="methodSelection">
                <select id="methodList">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </span>
      
            <span id="url">
                <input type="text" id="setURL"/>
            </span>
      
            <span>
                <input type="Button" value="Send" id="request"/>
            </span>
        </div>

        <div id="headerInfo">
            <div id="headerControl">
                <span>
                    <input type="Button" value="Add Header" id="addHeader"/>
                </span>
            </div>

            <div id="headerList">
                <div id="headerElement"></div>
            </div>
        </div>

        <div id="modeInfo">

            <span style="color: #eaeaea"> View mode : </span>

            <span>
                <select id="modeList">
                    <option value="Javascript">Javascript</option>
                    <option value="XML">XML</option>
                    <option value="JSON">JSON</option>
                </select>
            </span>

        </div>

        <div id="bodyInfo">
            <textarea id="bodyText"></textarea> <!-- Code mirror text area -->
        </div>
        <div id="saveButtonInfo">
            <input type="Button" value="Saving form information" id="saveButton"/>
        </div>

        </span>
        <span id="responseFormat">
            <div id = "statusResult"> </div>
            <div id="headerInfoResult">

                <textarea readonly id="headerTextResult" rows="10" cols="87" style="resize:none; color: #eaeaea; background-color: #272822; border: 0px;"></textarea>
            </div>

            <div id="bodyInfoResult">
                <textarea id="bodyTextResult"></textarea> <!-- Code mirror text area -->
            </div>
        </span>
</main>

<nav id="nav">
    <div class="innertube">
        <h1 style="color: #eaeaea"> Resource List </h1>
            <span>
                <input type="button" value="+ Resource" id="createResource"/>
                <input type="button" value="- Resource" id="deleteResource"/>
            </span>
    </div>
    <div>
        <ul id="resourceListRoot" class="innertube"></ul>
    </div>
</nav>
</body>
</html>