/**
 * Created by HwangJaeYoung
 * forest62590@gmail.com
 */

/* Defining the testing view CSS */

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #BCCE98;
}

#nav {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 230px;
    overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #DAE9BC;
}

#logo {
    padding: 10px;
}

#testingFormat {
    position: absolute;
    top: 10px; /* Set this to the height of the header */
    left: 10px;
    height: 600px;
    width: 400px;
}

#responseFormat {
    position: absolute;
    top: 30px; /* Set this to the height of the header */
    left: 700px;
    height: 600px;
    width: 400px;
}

#urlInfo {
    position: relative;
    top: 20px;
    left: 20px;
    background: #fca;
    height: 50px;
    width: 635px;
}

#headerInfo {
    position: relative;
    top: 40px;
    left: 20px;
    background: #faf;
    width: 635px;
    height: 200px;
    overflow: auto;
}

#bodyInfo {
    position: relative;
    top: 20px;
    left: 20px;
    margin-top: 20px;
    height: 380px;
    width: 205px;
}

#modeInfo {
    position: relative;
    top: 40px;
    left: 475px;
    margin-top: 20px;
    height: 50px;
    width: 200px;
}

#saveButtonInfo {
    position: relative;
    top: 120px;
    left: 500px;
    margin-top: 20px;
    height: 30px;
    width: 60px;
}

.innertube {
    margin: 15px; /* Provides padding for the content */
}

p {
    color: #555;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: Sans-serif;
    line-height: 1.5em;
}

main {
    position: fixed;
    top: 100px; /* Set this to the height of the header */
    left: 230px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

/*IE6 fix*/
* html body {
    padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
}

* html main {
    height: 100%;
    width: 100%;
}